.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #0000004d;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}

.modal__opened {
  visibility: visible;
}

.modal__title {
  margin: 0;
}

.modal__close {
  position: absolute;
  top: 20px;
  right: 28px;
  width: 16px;
  height: 16px;
  border: none;
  cursor: pointer;
}

.modal__close_type_form {
  background-image: url("../../assets/close.svg");
  background-repeat: no-repeat;
}

.modal__close_type_image {
  background-image: url("../../assets/whiteClose.svg");
  background-repeat: no-repeat;
}

.modal__content {
  background-color: #ffffff;
  position: relative;
  padding: 28px 28px 36px;
  max-width: 496px;
  box-sizing: border-box;
  width: 100%;
}

.modal__form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.modal__input {
  display: block;
}

.modal__radio-buttons {
  border: none;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.modal__image {
  max-width: 498px;
  max-height: 498px;
  width: 100%;
  padding: 0;
  margin: 0;
}

.modal__content_type_image {
  padding: 0;
  max-width: 498px;

}

.modal__footer {
  display: block;
  gap: 12px;
  padding: 0 0 32px 12px;
  font-weight: 700px;
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  font-style: Bold;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0%;
}

@media (max-width: 480px) {
  .modal__content {
    width: calc(100% - 20px);
    max-width: none;
  }
}